/* 
There are total 5 diff types of selector catagories.
1) Simple or Basic Selector
2) Combinator Selector
3) Pseudo Selector
4) Pseudo Element Selector
5) Attribute Selector
*/

/* 
--------> 1.Universal Selector
*/

/* 
*{
    font-family: fantasy;
} 
*/

/* 
--------> 2.Element or Type Selector 
*/

body
{
    font-size: 24px;
}

/* 
--------> 3.ID Selector 
*/

#third
{
    font-size: 25px;
}

/* 
--------> 4.Class Selector
*/

.purple
{
    font-family: monospace;
    color: purple;
}

.highlight
{
    background-color: yellow;
    font-weight: bolder;
}

/* 
--------> 1.Nested/Descendent
*/

footer p
{
    color: blue;
}

/* 
--------> 2.Child 
*/

footer > a
{
    color: black;
    text-decoration: none;
}

/* 
--------> 3.Adjacent Sibling 
*/

h3 + p
{
    font-family: 'Courier New';
}

/* 
--------> 4.General Sibling Selector
*/

h3 ~ p
{
    color: slateblue;
}

/* 
---------> 5.Group Selector 
*/

#first,#second
{
    color: green;
}
/* Specificity Order :-  ID > Class > Element */


/* 
Pseudo-class Selector 

--> These selector select element based on a certain state of a element.

*/

a:hover
{
    color: white;
    background-color: black;
}

input:focus
{
    outline: 2px solid #333;
}

li:nth-child(odd)
{
    color: blue;
    font-size: 24px;
    font-family: monospace;
}

/* 
Pseudo-element Selector

--> These selector select and style a part of an eelement.

*/

footer > p::before
{
    content: "For Your Information";
    font-size: 32px;
    font-weight: bold;
}
footer > p::first-letter
{
    font-size: 64px;
    color: blue;
}

/* 
Attribute Selector 

--> This selector selects element based on an attribute value of an element.

*/
[type]
{
    font-family: fantasy;
}

[type="email"]
{
    outline:5px solid salmon;
}